@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model MastersClass_MVC.Models.Courses
    @using Microsoft.AspNetCore.Http;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="~/css/video.css">
    <title></title>
</head>
<body>
    <div class="card text-center">
        <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/joweUxpHaqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-header">
            Level: @Model.level
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.name</h5>
            <p class="card-text">@Model.description</p>
            <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("UpWatchFarEast", "FarEast", new { levelno = 3 })';" />Finish The Lesson</button>
        </div>
        <div class="card-footer text-muted">
            @Model.time
        </div>
    </div>
</body>
</html>